- name: Deploy Application to Kubernetes
  hosts: local
  tasks:
    - name: Build Docker image
      shell: docker build -t {{ app_image }}:{{ app_version }} .
      args:
        chdir: "{{ playbook_dir }}/../../"

    - name: Import image to K3s
      shell: docker save {{ app_image }}:{{ app_version }} | k3s ctr images import -

    - name: Apply Kubernetes manifests
      shell: kubectl apply -f {{ playbook_dir }}/../k8s/