- name: Deploy PostgreSQL
  hosts: localhost
  connection: local
  
  tasks:
    - name: Apply PostgreSQL manifests
      shell: kubectl apply -f ../k8s/{{ item }}
      loop:
        - postgres-secrets.yaml
        - postgres-statefulset.yaml
        - postgres-service.yaml
        - db-schema-configmap.yaml

    - name: Wait for PostgreSQL readiness
      shell: kubectl wait --for=condition=ready pod -l app=postgres --timeout=300s